<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- //TODO: -Dodata4j.producerfactory=org.informea.odata.producer.ProducerFactory -->
    <display-name>InforMEA OData Java producer</display-name>
    <description>
	This is the OData producer for the InforMEA project. It implements the API for data retrieval from MEAs into Analytical Index central database
	OData services exposed by these components are queried by the InforMEA portal at www.informea.org
    </description>
    <!-- Set timeout in minutes -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <!-- OData servlets -->
    <servlet>
        <servlet-name>informea-toolkit</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>org.odata4j.producer.resources.ODataResourceConfig</param-value>
        </init-param>
        <init-param>
            <description>Factory that will instantiate the factory of web service</description>
            <param-name>odata4j.producerfactory</param-name>
            <param-value>org.informea.odata.producer.ProducerFactory</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>informea-toolkit</servlet-name>
        <url-pattern>/services/odata.svc/*</url-pattern>
    </servlet-mapping>
    <!-- Enable example service
    <servlet>
        <servlet-name>informea-example</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>org.odata4j.producer.resources.ODataResourceConfig</param-value>
        </init-param>
        <init-param>
            <description>Factory that will instantiate the factory of web service</description>
            <param-name>odata4j.producerfactory</param-name>
            <param-value>org.informea.odata.producer.example.ExampleProducerFactory</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>informea-example</servlet-name>
        <url-pattern>/services/example.svc/*</url-pattern>
    </servlet-mapping -->
    <!-- Servlet 2: Enable crossdomain access for browser clients -->
    <servlet>
        <servlet-name>CrossDomain</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>org.odata4j.producer.resources.CrossDomainResourceConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <jsp-file>/about.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CheckUpdate</servlet-name>
        <jsp-file>/check-update.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <jsp-file>/update.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConfigurationDatabase</servlet-name>
        <jsp-file>/configuration/step1.database.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConfigurationLDAP</servlet-name>
        <jsp-file>/configuration/step2.ldap.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConfigurationEntities</servlet-name>
        <jsp-file>/configuration/step3.entities.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConfigurationDecisions</servlet-name>
        <jsp-file>/configuration/step4.decisions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConfigurationFinish</servlet-name>
        <jsp-file>/configuration/step5.finish.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>CrossDomain</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUpdate</servlet-name>
        <url-pattern>/update-check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurationDatabase</servlet-name>
        <url-pattern>/configuration/database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurationLDAP</servlet-name>
        <url-pattern>/configuration/ldap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurationEntities</servlet-name>
        <url-pattern>/configuration/entities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurationDecisions</servlet-name>
        <url-pattern>/configuration/decisions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurationFinish</servlet-name>
        <url-pattern>/configuration/finish</url-pattern>
    </servlet-mapping>
    <!-- Define the Login Configuration for this Application -->
    <security-constraint>
        <web-resource-collection>
            <!--
            <web-resource-name>OData service endpoint</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            -->
            <web-resource-name>InforMEA toolkit access</web-resource-name>
            <url-pattern>/configuration/*</url-pattern>
            <url-pattern>/update/*</url-pattern>
            <url-pattern>/sql/*</url-pattern>
            <url-pattern>/tests/*</url-pattern>
            <url-pattern>/faq/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>informea</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>OData provider access</realm-name>
    </login-config>
    <security-role>
        <description>users/roles defined in tomcat-users.xml that can access the OData service</description>
        <role-name>informea</role-name>
    </security-role>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/500.jsp</location>
    </error-page>
</web-app>
